<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Control.Reactive" version="4.4.0" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="xamarinios10" />
  <package id="FSharp.Data" version="3.3.3" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="4.4.1" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="xamarinios10" />
</packages>